body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

.common-btn {
  background-color: #8a4baf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;

  &:hover {
    background-color: #5f357e;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

