@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative text-base font-normal z-10 bg-gray-50 dark:bg-gray-900 transition-colors duration-200 font-outfit;
  }
}

@layer components {
  .menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-sm;
  }

  .menu-item-active {
    @apply bg-brand-50 text-brand-500 dark:bg-brand-500/10 dark:text-brand-400;
  }

  .menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5;
  }

  .menu-item-icon {
    @apply w-5 h-5 mr-3 text-gray-500 object-contain;
  }

  .menu-item-icon-active {
    @apply text-brand-500;
  }

  .menu-item-text {
    @apply truncate;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}
